<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#pandas简介" data-toc-modified-id="pandas简介-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>pandas简介</a></span></li><li><span><a href="#Series对象" data-toc-modified-id="Series对象-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series对象</a></span><ul class="toc-item"><li><span><a href="#什么是Series对象" data-toc-modified-id="什么是Series对象-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>什么是Series对象</a></span></li><li><span><a href="#Series对象的创建" data-toc-modified-id="Series对象的创建-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Series对象的创建</a></span><ul class="toc-item"><li><span><a href="#pd.Series(data,-index)" data-toc-modified-id="pd.Series(data,-index)-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>pd.Series(data, index)</a></span></li></ul></li><li><span><a href="#Series对象的常用属性" data-toc-modified-id="Series对象的常用属性-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Series对象的常用属性</a></span><ul class="toc-item"><li><span><a href="#ser.values" data-toc-modified-id="ser.values-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>ser.values</a></span></li><li><span><a href="#ser.index" data-toc-modified-id="ser.index-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>ser.index</a></span></li><li><span><a href="#ser.size" data-toc-modified-id="ser.size-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>ser.size</a></span></li></ul></li><li><span><a href="#Series对象常用的一些方法" data-toc-modified-id="Series对象常用的一些方法-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Series对象常用的一些方法</a></span><ul class="toc-item"><li><span><a href="#ser.value_counts()" data-toc-modified-id="ser.value_counts()-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>ser.value_counts()</a></span></li><li><span><a href="#ser.isnull()" data-toc-modified-id="ser.isnull()-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>ser.isnull()</a></span></li><li><span><a href="#ser.fillna()" data-toc-modified-id="ser.fillna()-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>ser.fillna()</a></span></li><li><span><a href="#ser.sort_values()" data-toc-modified-id="ser.sort_values()-2.4.4"><span class="toc-item-num">2.4.4&nbsp;&nbsp;</span>ser.sort_values()</a></span></li><li><span><a href="#ser.sort_index()" data-toc-modified-id="ser.sort_index()-2.4.5"><span class="toc-item-num">2.4.5&nbsp;&nbsp;</span>ser.sort_index()</a></span></li><li><span><a href="#ser.append()" data-toc-modified-id="ser.append()-2.4.6"><span class="toc-item-num">2.4.6&nbsp;&nbsp;</span>ser.append()</a></span></li><li><span><a href="#ser.apply()" data-toc-modified-id="ser.apply()-2.4.7"><span class="toc-item-num">2.4.7&nbsp;&nbsp;</span>ser.apply()</a></span></li><li><span><a href="#ser.map()" data-toc-modified-id="ser.map()-2.4.8"><span class="toc-item-num">2.4.8&nbsp;&nbsp;</span>ser.map()</a></span></li></ul></li><li><span><a href="#Series对象的切片和索引" data-toc-modified-id="Series对象的切片和索引-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Series对象的切片和索引</a></span><ul class="toc-item"><li><span><a href="#隐式索引和切片" data-toc-modified-id="隐式索引和切片-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>隐式索引和切片</a></span></li><li><span><a href="#显示索引和切片" data-toc-modified-id="显示索引和切片-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>显示索引和切片</a></span></li></ul></li></ul></li></ul></div>

In [1]:
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# pandas简介

Pandas是一个强大的分析结构化数据的工具集；

(Pandas 纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的函数和方法，能够快速便捷地处理数据)

它的使用基础是Numpy（提供高性能的矩阵运算）；

用于数据挖掘和数据分析，同时也提供数据清洗功能

numpy中是用ndarray对象， 在pandas中是Series对象和DataFrame对象。

引用习惯如下：

In [2]:
#pip list

In [3]:
import numpy as np
import pandas as pd

# Series对象

## 什么是Series对象

Series是一种类似于一维数组的对象，是由一组数据(各种NumPy数据类型)以及一组与之相关的数据标签(即索引)组成。仅由一组数据也可产生简单的Series对象。  
Series是Pandas包提供的一种Key-value型数据结构,其中Key为用户定义的显示index,每个显式index对应一个value值.

它与Python列表的区别在于,Series的每个元素都带有两种index
- 显示index : 由用户指定
- 隐式index : 由系统自动分配(Series对象中每个元素的下标,类似Python"列表"的下标)

Series的访问既可以通过显示index,也可以通过隐式index

## Series对象的创建

### pd.Series(data, index)  
可以直接将ndarray对象 列表 元祖 字典等对象转化为Series对象

In [4]:
a = np.array([1, 1, 1, 1, 1])
a

array([1, 1, 1, 1, 1])

In [6]:
pd.Series(a)  # 每一个元素有了一个索引， 这种索引是pandas自动分配的， 成为隐式索引

0    1
1    1
2    1
3    1
4    1
dtype: int32

In [7]:
pd.Series([1, 2, 5, 6, 0])

0    1
1    2
2    5
3    6
4    0
dtype: int64

In [8]:
pd.Series((3, 4, 5, 6))

0    3
1    4
2    5
3    6
dtype: int64

通过index参数来自己定义索引

In [9]:
pd.Series([90, 96, 78], ['张三', '李四', '王五'])  # 第二参数是指定索引

张三    90
李四    96
王五    78
dtype: int64

In [10]:
d = {'1':123, '2':456, '3':'789'}
d

{'1': 123, '2': 456, '3': '789'}

In [11]:
pd.Series(d)  # 把字典的键作为索引

1    123
2    456
3    789
dtype: object

## Series对象的常用属性

In [12]:
ser = pd.Series([90, 89, 90, 71, 87, 87, 65, 60, np.nan],   # 有一个缺失值
               ['赵一', '赵二', '赵三', '赵四', '赵五', '赵六', '赵七', '赵八', '赵九'])
ser

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
赵九     NaN
dtype: float64

### ser.values
返回Series对象的值, 返回的是一个一维的ndarray

In [13]:
ser.values

array([90., 89., 90., 71., 87., 87., 65., 60., nan])

### ser.index
返回Series对象的索引, 返回的是一个一维的ndarray

In [14]:
ser.index

Index(['赵一', '赵二', '赵三', '赵四', '赵五', '赵六', '赵七', '赵八', '赵九'], dtype='object')

### ser.size  
返回Series对象的行数

In [15]:
ser.size

9

## Series对象常用的一些方法

In [16]:
ser = pd.Series([90, 89, 90, 71, 87, 87, 65, 60, np.nan],   # 有一个缺失值
               ['赵一', '赵二', '赵三', '赵四', '赵五', '赵六', '赵七', '赵八', '赵九'])
ser

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
赵九     NaN
dtype: float64

### ser.value_counts()  
对值进行分类计数, 缺失值不计入

In [17]:
ser.value_counts()  

# 默认是返回每个值出现的次数

87.0    2
90.0    2
60.0    1
65.0    1
71.0    1
89.0    1
dtype: int64

In [18]:
ser.value_counts(normalize=True)  # 返回每个值出现的评率, 缺失值忽略

87.0    0.250
90.0    0.250
60.0    0.125
65.0    0.125
71.0    0.125
89.0    0.125
dtype: float64

In [19]:
ser.value_counts(ascending=True)  # ascending=True, 按照出现的次数进行升序， 默认是降序

89.0    1
71.0    1
65.0    1
60.0    1
90.0    2
87.0    2
dtype: int64

In [20]:
ser.value_counts(dropna=False)  # 是否删除缺失值

87.0    2
90.0    2
NaN     1
60.0    1
65.0    1
71.0    1
89.0    1
dtype: int64

In [21]:
ser.value_counts()/ser.size  # 每个类别所占的比例

87.0    0.222222
90.0    0.222222
60.0    0.111111
65.0    0.111111
71.0    0.111111
89.0    0.111111
dtype: float64

### ser.isnull()  
判断每一个值是否是缺失值

In [22]:
ser.isnull()

赵一    False
赵二    False
赵三    False
赵四    False
赵五    False
赵六    False
赵七    False
赵八    False
赵九     True
dtype: bool

可以通过这种方法查看缺失值的比例

In [23]:
ser.isnull()

赵一    False
赵二    False
赵三    False
赵四    False
赵五    False
赵六    False
赵七    False
赵八    False
赵九     True
dtype: bool

In [24]:
ser.isnull().sum()  # 缺失值的个数

1

In [25]:
ser.isnull().sum()/ser.size  # 缺失值的 比列

0.1111111111111111

### ser.fillna()

In [26]:
ser

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
赵九     NaN
dtype: float64

In [27]:
ser.fillna(ser.mean())  # 用均值填充该列的缺失值

赵一    90.000
赵二    89.000
赵三    90.000
赵四    71.000
赵五    87.000
赵六    87.000
赵七    65.000
赵八    60.000
赵九    79.875
dtype: float64

In [28]:
ser.fillna(ser.mean(), inplace=True)

In [29]:
ser

赵一    90.000
赵二    89.000
赵三    90.000
赵四    71.000
赵五    87.000
赵六    87.000
赵七    65.000
赵八    60.000
赵九    79.875
dtype: float64

### ser.sort_values()

In [30]:
ser.sort_values()  # 默认按值进行升序

赵八    60.000
赵七    65.000
赵四    71.000
赵九    79.875
赵五    87.000
赵六    87.000
赵二    89.000
赵一    90.000
赵三    90.000
dtype: float64

In [31]:
ser.sort_values(ascending=False)  #ascending=False变成降序

赵三    90.000
赵一    90.000
赵二    89.000
赵六    87.000
赵五    87.000
赵九    79.875
赵四    71.000
赵七    65.000
赵八    60.000
dtype: float64

### ser.sort_index()

In [32]:
ser = pd.Series(['a', 'c', 'b', 'd', 'f'], [2, 5, 1, 4, 3])
ser

2    a
5    c
1    b
4    d
3    f
dtype: object

In [33]:
ser.sort_index()  # 也是默认进行升序

1    b
2    a
3    f
4    d
5    c
dtype: object

In [34]:
ser.sort_index(ascending=False)  # ascending=False变成降序

5    c
4    d
3    f
2    a
1    b
dtype: object

### ser.append()

In [35]:
ser

2    a
5    c
1    b
4    d
3    f
dtype: object

In [36]:
s = pd.Series(['a', 'b'], [0, 1])
s

0    a
1    b
dtype: object

In [37]:
ser.append(s )

2    a
5    c
1    b
4    d
3    f
0    a
1    b
dtype: object

In [38]:
ser.append(s, ignore_index=True)  # ignore_index=True忽略原索引

0    a
1    c
2    b
3    d
4    f
5    a
6    b
dtype: object

### ser.apply()  
ser.apply(func, convert_dtype=True, args=(), **kwds)  
- func:Python函数或NumPy ufunc应用 ，如果func返回Series对象，则结果将是DataFrame。
- convert_dtype:默认的True，尝试为函数的结果找到更好的数据类型。如果为false，则保留为dtype=Object。默认就好。
- args=()：元组位置参数传递定义的func。
- **kwds：传递给func的附加关键字参数。

In [39]:
ser.apply?

In [40]:
ser = pd.Series(['12K-15K 成都', '15K-18K 上海', '18K-22K 北京'], ['A', 'B', 'C'])
ser

A    12K-15K 成都
B    15K-18K 上海
C    18K-22K 北京
dtype: object

In [41]:
# 取出所有的K
def X(s):
    return s.replace('K', '')

In [42]:
ser.apply(X)

A    12-15 成都
B    15-18 上海
C    18-22 北京
dtype: object

In [43]:
# 也可以来一个匿名函数
ser.apply(lambda s:s.replace('K', ''))

A    12-15 成都
B    15-18 上海
C    18-22 北京
dtype: object

若函数返回的是一个Series对象， 则返回一个DataFrame

In [44]:
def XD(s):
    return pd.Series(s.split(' '), ['工资', '城市'])

In [45]:
XD('12K-15K 成都')

工资    12K-15K
城市         成都
dtype: object

In [46]:
ser.apply(XD)

        工资  城市
A  12K-15K  成都
B  15K-18K  上海
C  18K-22K  北京

In [47]:
ser

A    12K-15K 成都
B    15K-18K 上海
C    18K-22K 北京
dtype: object

可以通过args=()给func传入位置参数

In [48]:
ser

A    12K-15K 成都
B    15K-18K 上海
C    18K-22K 北京
dtype: object

In [49]:
def X(s, new, num):
    return s.replace('K', new, num)

In [50]:
X('12K-15K 成都', '', 1)

'12-15K 成都'

In [51]:
ser.apply(X, args=('A', 2))

A    12A-15A 成都
B    15A-18A 上海
C    18A-22A 北京
dtype: object

也可以直接在apply中给func中的形参以关键字参数传参

In [52]:
ser.apply(X, new='A', num=1)

A    12A-15K 成都
B    15A-18K 上海
C    18A-22K 北京
dtype: object

### ser.map()    
ser.map(arg, na_action=None)  
map和apply非常相似， 也可以接受一个函数， **还可以接受一个字典来映射每一个值**  
但是返回Series的时候就不再是DataFrame  
- arg:函数或者字典  
- na_action:传入字典是没有匹配值会变成NaN

In [56]:
ser = pd.Series(['12K-15K 成都', '15K-18K 上海', '18K-22K 北京'], ['A', 'B', 'C'])
ser

A    12K-15K 成都
B    15K-18K 上海
C    18K-22K 北京
dtype: object

In [57]:
ser.map(lambda s:s.split(' '))  # 返回列表

A    [12K-15K, 成都]
B    [15K-18K, 上海]
C    [18K-22K, 北京]
dtype: object

In [58]:
ser.map(lambda s:pd.Series(s.split(' ')))  # 返回Series

A    0    12K-15K
1         成都
dtype: object
B    0    15K-18K
1         上海
dtype: object
C    0    18K-22K
1         北京
dtype: object
dtype: object

In [59]:
ser.apply(lambda s:pd.Series(s.split(' ')))  # 返回DataFrame

         0   1
A  12K-15K  成都
B  15K-18K  上海
C  18K-22K  北京

In [60]:
ser.map('我的工资和城市是:{}'.format)

A    我的工资和城市是:12K-15K 成都
B    我的工资和城市是:15K-18K 上海
C    我的工资和城市是:18K-22K 北京
dtype: object

In [61]:
ser.apply('我的工资和城市是:{}'.format)  

# 所以当传入一个函数时其实两者没有多大的区别， 
#只是返回值有时会不同, func的返回值是series的时候， apply可以返回DataFrame
# 还有就是apply自由度更高， 可以传入位置参数 关键字参数对func有更多操作， 而map不行
# 所以传入函数时， 建议apply

A    我的工资和城市是:12K-15K 成都
B    我的工资和城市是:15K-18K 上海
C    我的工资和城市是:18K-22K 北京
dtype: object

当传入函数时， apply更棒， 但是map可以传入字典作为映射

In [62]:
# 把男变成1，   把女变成0
ser = pd.Series(['男','女', '男',  '男', '女'])
ser

0    男
1    女
2    男
3    男
4    女
dtype: object

In [63]:
ser.map({'男':1, '女':0})

0    1
1    0
2    1
3    1
4    0
dtype: int64

## Series对象的切片和索引

In [64]:
ser = pd.Series([90, 89, 90, 71, 87, 87, 65, 60, np.nan],   # 有一个缺失值
               ['赵一', '赵二', '赵三', '赵四', '赵五', '赵六', '赵七', '赵八', '赵九'])
ser

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
赵九     NaN
dtype: float64

### 隐式索引和切片
通过隐藏的行号来索引， 索引从0开始  
ser[开始索引:终止位置:步长和方向]
其中：  
开始位置取得到, 终止位置取不到。

In [65]:
ser[0]  # 取单行

90.0

In [66]:
ser[7]

60.0

In [67]:
ser[-1]

nan

In [68]:
ser[[0, 6, 4]]  # 指定取多行

赵一    90.0
赵七    65.0
赵五    87.0
dtype: float64

In [69]:
ser[0:4]  # 取第0 1 2 3 行， 终止位置取不到

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
dtype: float64

In [70]:
ser

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
赵九     NaN
dtype: float64

In [71]:
ser[0:7:3]

赵一    90.0
赵四    71.0
赵七    65.0
dtype: float64

In [72]:
ser[::-1]

赵九     NaN
赵八    60.0
赵七    65.0
赵六    87.0
赵五    87.0
赵四    71.0
赵三    90.0
赵二    89.0
赵一    90.0
dtype: float64

### 显示索引和切片 
基于我们自己定义的行索引进行索引

In [73]:
ser

赵一    90.0
赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
赵九     NaN
dtype: float64

In [74]:
ser['赵三']

90.0

In [75]:
ser[['赵一', '赵八', '赵四']]

赵一    90.0
赵八    60.0
赵四    71.0
dtype: float64

**注意这里终止的能取到**

In [76]:
ser['赵二':'赵八']  # 注意这里终止的能取到

赵二    89.0
赵三    90.0
赵四    71.0
赵五    87.0
赵六    87.0
赵七    65.0
赵八    60.0
dtype: float64

In [77]:
ser['赵二':'赵八':3]

赵二    89.0
赵五    87.0
赵八    60.0
dtype: float64