<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#数据的读入与导出" data-toc-modified-id="数据的读入与导出-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>数据的读入与导出</a></span><ul class="toc-item"><li><span><a href="#数据的读入" data-toc-modified-id="数据的读入-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>数据的读入</a></span><ul class="toc-item"><li><span><a href="#pd.read_csv()" data-toc-modified-id="pd.read_csv()-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>pd.read_csv()</a></span><ul class="toc-item"><li><span><a href="#读取csv文件" data-toc-modified-id="读取csv文件-1.1.1.1"><span class="toc-item-num">1.1.1.1&nbsp;&nbsp;</span>读取csv文件</a></span></li><li><span><a href="#是否将第一行作为标题" data-toc-modified-id="是否将第一行作为标题-1.1.1.2"><span class="toc-item-num">1.1.1.2&nbsp;&nbsp;</span>是否将第一行作为标题</a></span></li><li><span><a href="#读取txt文件" data-toc-modified-id="读取txt文件-1.1.1.3"><span class="toc-item-num">1.1.1.3&nbsp;&nbsp;</span>读取txt文件</a></span></li><li><span><a href="#读取其他编码的文件" data-toc-modified-id="读取其他编码的文件-1.1.1.4"><span class="toc-item-num">1.1.1.4&nbsp;&nbsp;</span>读取其他编码的文件</a></span></li></ul></li><li><span><a href="#pd.read_excel()" data-toc-modified-id="pd.read_excel()-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>pd.read_excel()</a></span><ul class="toc-item"><li><span><a href="#指定读取那张表" data-toc-modified-id="指定读取那张表-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>指定读取那张表</a></span></li></ul></li><li><span><a href="#指定将第几行作为标题" data-toc-modified-id="指定将第几行作为标题-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>指定将第几行作为标题</a></span></li><li><span><a href="#pd.ExcelFile()" data-toc-modified-id="pd.ExcelFile()-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>pd.ExcelFile()</a></span></li><li><span><a href="#pd.ExcelWriter()" data-toc-modified-id="pd.ExcelWriter()-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>pd.ExcelWriter()</a></span></li><li><span><a href="#pd.read_json()" data-toc-modified-id="pd.read_json()-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>pd.read_json()</a></span></li><li><span><a href="#pd.read_html()" data-toc-modified-id="pd.read_html()-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>pd.read_html()</a></span></li><li><span><a href="#pd.read_clipboard" data-toc-modified-id="pd.read_clipboard-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>pd.read_clipboard</a></span></li></ul></li><li><span><a href="#数据的导出" data-toc-modified-id="数据的导出-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>数据的导出</a></span></li></ul></li><li><span><a href="#将DataFrame直接存入MySql" data-toc-modified-id="将DataFrame直接存入MySql-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>将DataFrame直接存入MySql</a></span></li></ul></div>

In [1]:
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd

# 数据的读入与导出

## 数据的读入

### pd.read_csv()  
- 读取csv文件
- 读取txt文件， 但是需要注意设置分隔符是sep='\t'

In [7]:
pd.read_excel?

#### 读取csv文件  
csv文件使用‘,’分割， 所以sep=','默认就行， 编码需要注意， 编码encoding默认是utf-8

In [5]:
df = pd.read_csv(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\-bill.csv")# 路径里面可以是中文， 到时如果有特殊字符，可能会报错， 建议路径全是英文。
df.head(4)   # df.head()默认显示前5行， 当然可以自己制定

   2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
0  2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
1  2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
2  2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2
3  2016-07-12  A0005  亚运村店  0.1  11:49:00  18  3

字符串前面加r的作用

In [6]:
"E:\1103\第三天\data\-bill.csv"

'E:H3\\第三天\\data\\-bill.csv'

In [7]:
r"E:\1103\第三天\data\-bill.csv"

'E:\\1103\\第三天\\data\\-bill.csv'

In [8]:
print('asdasdasd\nas\ndasdasd\nasdasd\nasd')

asdasdasd
as
dasdasd
asdasd
asd

In [9]:
print(r'asdasdasd\\nas\ndasdasd\nasdasd\nasd')

asdasdasd\\nas\ndasdasd\nasdasd\nasd

要读取的文件和正在运行的ipy在同一位置可以直接调用文件名打开  
df = pd.read_csv('-bill.csv')

#### 是否将第一行作为标题

In [11]:
df = pd.read_csv(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\-bill.csv", header='infer')
df.head(4) # 默认将第一行作为标题

   2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
0  2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
1  2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
2  2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2
3  2016-07-12  A0005  亚运村店  0.1  11:49:00  18  3

In [13]:
df = pd.read_csv(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\-bill.csv", header=None)
df.head(4)   # 不将第一行作为标题

            0      1     2    3         4   5  6
0  2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
1  2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
2  2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
3  2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2

In [14]:
df.columns = ['时间', '订单编号', '店名', '01', '时刻', '5', '6']

In [15]:
df.head()  # 查看前五行

           时间   订单编号    店名   01        时刻   5  6
0  2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
1  2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
2  2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
3  2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2
4  2016-07-12  A0005  亚运村店  0.1  11:49:00  18  3

In [16]:
df.shape

(682, 7)

#### 读取txt文件  
txt分割符是sep='\t'

In [17]:
df = pd.read_csv(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\bill_txt.txt", sep='\t', header=None)
df.head()

            0      1     2    3         4   5  6
0  2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
1  2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
2  2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
3  2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2
4  2016-07-12  A0005  亚运村店  0.1  11:49:00  18  3

In [18]:
"E:\1103\第三天\data\bill_txt.txt"# 前面不加r肯定会报错

'E:H3\\第三天\\data\x08ill_txt.txt'

In [19]:
r"E:\1103\第三天\data\bill_txt.txt"

'E:\\1103\\第三天\\data\\bill_txt.txt'

#### 读取其他编码的文件  
这里一定要给对应的文件注明是什么编码， 赋值给encoding这个参数。

In [20]:
df = pd.read_csv(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\bill_txt_ansi.txt", sep='\t', encoding='ansi', header=None)
df.head()

            0      1     2    3         4   5  6
0  2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
1  2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
2  2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
3  2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2
4  2016-07-12  A0005  亚运村店  0.1  11:49:00  18  3

### pd.read_excel()

In [21]:
df = pd.read_excel(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\bill_excel.xlsx", header=None)
df

              0      1     2    3         4   5  6
0    2016-07-12  A0001  亚运村店  0.1  13:42:00   8  2
1    2016-07-12  A0002  亚运村店  0.1  11:42:00  19  3
2    2016-07-12  A0003  亚运村店  0.1  15:19:00  19  3
3    2016-07-12  A0004  亚运村店  0.1  12:34:00   9  2
4    2016-07-12  A0005  亚运村店  0.1  11:49:00  18  3
..          ...    ...   ...  ...       ...  .. ..
677  2016-07-12  E0174  北新桥店  0.1  12:30:00   3  2
678  2016-07-12  E0175  北新桥店  0.1  12:13:00   5  2
679  2016-07-12  E0176  北新桥店  0.1  16:35:00  15  3
680  2016-07-12  E0177  北新桥店  0.1  17:50:00  12  2
681  2016-07-12  E0178  北新桥店  0.1  11:56:00  11  2

[682 rows x 7 columns]

#### 指定读取那张表

In [23]:
df = pd.read_excel(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\bill_excel.xlsx",sheet_name='asd', header=None)
df # 读取的表是Sheet2

     0   1   2   3   4   5   6   7
0    1   1   1   1   1   1   1   1
1    2   2   2   2   2   2   2   2
2    3   3   3   3   3   3   3   3
3    4   4   4   4   4   4   4   4
4    5   5   5   5   5   5   5   5
5    6   6   6   6   6   6   6   6
6    7   7   7   7   7   7   7   7
7    8   8   8   8   8   8   8   8
8    9   9   9   9   9   9   9   9
9   10  10  10  10  10  10  10  10
10  11  11  11  11  11  11  11  11
11  12  12  12  12  12  12  12  12
12  13  13  13  13  13  13  13  13
13  14  14  14  14  14  14  14  14
14  15  15  15  15  15  15  15  15
15  16  16  16  16  16  16  16  16
16  17  17  17  17  17  17  17  17
17  18  18  18  18  18  18  18  18
18  19  19  19  19  19  19  19  19
19  20  20  20  20  20  20  20  20

### 指定将第几行作为标题

In [25]:
df = pd.read_excel(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\bill_excel.xlsx",sheet_name='要标题', header=None)
df

    0   1   2   3      4
0   1   2   3   4      5
1  姓名  性别  年龄  学历     籍贯
2  小明   男  23  本科     北京
3  小红   女  22  本科     天津
4  小高   男  23  本科  湖北 武汉
5  小雅   女  24  本科  四川 成都

In [30]:
df = pd.read_excel(r"C:\Users\EDZ\Desktop\所有完整课件高级版\python数据清洗\pandas\data\bill_excel.xlsx",sheet_name='要标题', header=1)
df  # 将第一行作为标题， 从0开始

   姓名 性别  年龄  学历     籍贯
0  小明  男  23  本科     北京
1  小红  女  22  本科     天津
2  小高  男  23  本科  湖北 武汉
3  小雅  女  24  本科  四川 成都

### pd.ExcelFile()
- 读取一个xlsx文件， 而不是一个sheet表

In [3]:
excel_reader = pd.ExcelFile(r"D:\资料\所有完整课件高级版\python数据清洗\pandas\data\错峰生产监测数据-结果表20201129(1).xlsx")

In [6]:
excel_reader.sheet_names  # 所有sheet_name,

['Sheet11',
 '源数据10.01-11.29',
 'Sheet4',
 '源数据11.23-11.29',
 '源数据10.23-10.29',
 'Sheet7',
 '1.11月',
 'Sheet9',
 '2.10月',
 'Sheet10',
 '3.11月户号合并',
 '4.10月户号合并',
 '5.所有企业最大电量',
 '6.结果表(计算指标）',
 '7.结果表（附件）']

In [10]:
excel_reader.parse(excel_reader.sheet_names[0])  # 获取指定表名的表， 写循环可以读取所有

      Unnamed: 0           Unnamed: 1  Unnamed: 2
0            NaN                  NaN         NaN
1           企业名称                   日期    求和项:当日电量
2        保德县保跃砖厂  2020-10-01 00:00:00           0
3        保德县保跃砖厂  2020-10-02 00:00:00           0
4        保德县保跃砖厂  2020-10-03 00:00:00           0
...          ...                  ...         ...
59364  左云县新云泰碳素厂  2020-11-26 00:00:00        1559
59365  左云县新云泰碳素厂  2020-11-27 00:00:00        1507
59366  左云县新云泰碳素厂  2020-11-28 00:00:00        1441
59367  左云县新云泰碳素厂  2020-11-29 00:00:00        1306
59368         总计                  NaN  1566676827

[59369 rows x 3 columns]

### pd.ExcelWriter()   
- 在一个xlsx文件中写入多个表

In [50]:
a = pd.Series(excel_reader.sheet_names)  # 保留下表到一个xlsx
a = list(a[a.apply(lambda x:x[1]=='.')])
a

['1.11月',
 '2.10月',
 '3.11月户号合并',
 '4.10月户号合并',
 '5.所有企业最大电量',
 '6.结果表(计算指标）',
 '7.结果表（附件）']

In [58]:
excel_writer = pd.ExcelWriter(r"D:\资料\所有完整课件高级版\python数据清洗\pandas\data\excel.xlsx")

In [59]:
for i in a:
    df = excel_reader.parse(i)  # 每个DataFrame
    df.to_excel(excel_writer,index=False, sheet_name=i) # 把每个DataFrame写入统一xlsx
excel_writer.save()  # 储存文件
excel_writer.close()  # 关闭writer

### pd.read_json()

In [4]:
import requests
url='https://movie.douban.com/j/chart/top_list?type=25&interval_id=100%3A90&action=&start=0&limit=20'
header={'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'}
response = requests.get(url, headers=header)
html=response.text
html

'[{"rating":["9.5","50"],"rank":1,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2369337420.jpg","is_playable":false,"id":"10461356","types":["动画"],"regions":["日本"],"title":"大雄的怀念奶奶","url":"https:\\/\\/movie.douban.com\\/subject\\/10461356\\/","release_date":"2000-03-11","actor_count":9,"vote_count":4617,"score":"9.5","actors":["大山信代","小原乃梨子","立壁和也","肝付兼太","野村道子","千千松幸子","大本真基子","关智一","佐久间玲"],"is_watched":false},{"rating":["9.4","50"],"rank":2,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2557573348.jpg","is_playable":true,"id":"1291561","types":["剧情","动画","奇幻"],"regions":["日本"],"title":"千与千寻","url":"https:\\/\\/movie.douban.com\\/subject\\/1291561\\/","release_date":"2019-06-21","actor_count":25,"vote_count":1619821,"score":"9.4","actors":["柊瑠美","入野自由","夏木真理","菅原文太","中村彰男","玉井夕海","神木隆之介","内藤刚志","泽口靖子","我修院达也","大泉洋","小林郁夫","上条恒彦","小野武彦","田壮壮","王琳","安田显","户次重幸","胡立成","山像香","斋藤志郎","脇田茂","彭昱畅","井柏然","周冬雨"],"is_watched":false},{"rating":["9.4","50"],"rank":3,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2529714509.jpg","is_playable":false,"id":"2054458","types":["剧情","喜剧","动画"],"regions":["美国"],"title":"拽妹黛薇儿要上大学了没","url":"https:\\/\\/movie.douban.com\\/subject\\/2054458\\/","release_date":"2002-01-21","actor_count":9,"vote_count":1500,"score":"9.4","actors":["John Lynn","Amir Williams","马克·汤普森","Becca Lish","温迪胡普斯","莎拉·德鲁","Bart Fasbender","费舍·史蒂芬斯","吉奥弗瑞·阿伦德"],"is_watched":false},{"rating":["9.3","50"],"rank":4,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p1461851991.jpg","is_playable":true,"id":"2131459","types":["科幻","动画","冒险"],"regions":["美国"],"title":"机器人总动员","url":"https:\\/\\/movie.douban.com\\/subject\\/2131459\\/","release_date":"2008-06-27","actor_count":30,"vote_count":981184,"score":"9.3","actors":["本·贝尔特","艾丽莎·奈特","杰夫·格尔林","佛莱德·威拉特","西格妮·韦弗","MacInTalk","约翰·拉岑贝格","凯茜·纳基麦","泰迪·牛顿","鲍伯·伯根","洛丽·理查德森","吉姆·瓦德","彼特·道格特","安德鲁·斯坦顿","杰夫·皮金","约翰·齐甘","米凯·麦高万","雪莉·琳恩","克莱特·惠特克","唐纳德·富利洛夫","罗里·艾伦","杰斯·哈梅尔","拉瑞恩·纽曼","扬·拉布森","保罗·伊丁","特蕾莎·甘泽尔","安格斯·麦克莱恩","草刈正雄","赵增熹","加勒特·帕尔默"],"is_watched":false},{"rating":["9.3","50"],"rank":5,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2184505167.jpg","is_playable":true,"id":"1418019","types":["动画","奇幻"],"regions":["中国大陆"],"title":"大闹天宫","url":"https:\\/\\/movie.douban.com\\/subject\\/1418019\\/","release_date":"1961","actor_count":8,"vote_count":279409,"score":"9.3","actors":["邱岳峰","富润生","毕克","尚华","于鼎","李梓","刘广宁","汉斯·阿尔弗莱德森"],"is_watched":false},{"rating":["9.3","50"],"rank":6,"cover_url":"https://img9.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2585323764.jpg","is_playable":false,"id":"26972694","types":["爱情","动画","奇幻"],"regions":["中国大陆"],"title":"狐妖小红娘剧场版：月红篇","url":"https:\\/\\/movie.douban.com\\/subject\\/26972694\\/","release_date":"2016-06-24","actor_count":8,"vote_count":7338,"score":"9.3","actors":["杨天翔","刘校妤","阿杰","张予佟","张凯","乔诗语","宝木中阳","图特哈蒙"],"is_watched":false},{"rating":["9.3","50"],"rank":7,"cover_url":"https://img3.doubanio.com\\/view\\/subject\\/l\\/public\\/s3724393.jpg","is_playable":false,"id":"3667535","types":["科幻","动画","冒险"],"regions":["法国"],"title":"虚幻勇士","url":"https:\\/\\/movie.douban.com\\/subject\\/3667535\\/","release_date":"2004","actor_count":2,"vote_count":864,"score":"9.3","actors":["马修·格克齐","姜广涛"],"is_watched":false},{"rating":["9.3","50"],"rank":8,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p1449285441.jpg","is_playable":false,"id":"1447000","types":["动画"],"regions":["俄罗斯","英国","美国"],"title":"苏联动画大师作品精选集","url":"https:\\/\\/movie.douban.com\\/subject\\/1447000\\/","release_date":"1998","actor_count":7,"vote_count":587,"score":"9.3","actors":["费多尔·希特鲁克","伊万·伊万诺夫-瓦诺","安德烈·赫尔扎诺夫斯基","尼古拉·谢列布里亚尼科夫","亚历山大·彼德洛夫","列夫·阿塔马诺夫","弗拉基米尔·塔拉索夫"],"is_watched":false},{"rating":["9.3","50"],"rank":9,"cover_url":"https://img9.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2386924665.jpg","is_playable":false,"id":"26887094","types":["动画"],"regions":["日本"],"title":"银魂晴祭2016","url":"https:\\/\\/movie.douban.com\\/subject\\/26887094\\/","release_date":"2016-03-06","actor_count":0,"vote_count":504,"score":"9.3","actors":[],"is_watched":false},{"rating":["9.2","45"],"rank":10,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2315672647.jpg","is_playable":true,"id":"25662329","types":["喜剧","动画","冒险"],"regions":["美国"],"title":"疯狂动物城","url":"https:\\/\\/movie.douban.com\\/subject\\/25662329\\/","release_date":"2016-03-04","actor_count":43,"vote_count":1306990,"score":"9.2","actors":["金妮弗·古德温","杰森·贝特曼","伊德里斯·艾尔巴","珍妮·斯蕾特","内特·托伦斯","邦尼·亨特","唐·雷克","汤米·钟","J·K·西蒙斯","奥克塔维亚·斯宾瑟","艾伦·图代克","夏奇拉","雷蒙德·S·佩尔西","德拉·萨巴","莫里斯·拉马奇","菲尔·约翰斯顿","约翰·迪·马吉欧","凯蒂·洛斯","吉塔·雷迪","杰西·科尔蒂","汤米·利斯特","乔希·达拉斯","瑞奇·摩尔","凯斯·索西","彼得·曼斯布里奇","拜伦·霍华德","杰拉德·布什","马克·史密斯","乔西·特立尼达","约翰·拉维尔","克里斯汀·贝尔","吉尔·科德斯","梅利莎·古德温","Nan Li","李楠","尼古拉斯·格斯特","容祖儿","季冠霖","张震","戴维德·迪格斯","蔡依林","黄子华","佟心竹"],"is_watched":false},{"rating":["9.2","45"],"rank":11,"cover_url":"https://img9.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2540924496.jpg","is_playable":true,"id":"1291560","types":["动画","奇幻","冒险"],"regions":["日本"],"title":"龙猫","url":"https:\\/\\/movie.douban.com\\/subject\\/1291560\\/","release_date":"2018-12-14","actor_count":24,"vote_count":924379,"score":"9.2","actors":["日高法子","坂本千夏","糸井重里","岛本须美","北林谷荣","高木均","雨笠利幸","丸山裕子","广濑正志","鹫尾真知子","铃木玲子","千叶繁","龙田直树","鳕子","西村朋纮","石田光子","神代知衣","中村大树","水谷优子","平松晶子","大谷育江","达科塔·范宁","艾丽·范宁","秦岚"],"is_watched":false},{"rating":["9.2","45"],"rank":12,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2515539487.jpg","is_playable":true,"id":"1428581","types":["动画","奇幻"],"regions":["中国大陆"],"title":"天书奇谭","url":"https:\\/\\/movie.douban.com\\/subject\\/1428581\\/","release_date":"1983","actor_count":26,"vote_count":149828,"score":"9.2","actors":["丁建华","毕克","苏秀","程晓桦","施融","于鼎","杨成纯","孙渝烽","胡庆汉","尚华","刘广宁","乔榛","严崇德","伍经纬","童自荣","程玉珠","曹雷","王建新","杨文元","富润生","刘钦","刘风","翟巍","张欣","郭易峰","王肖兵"],"is_watched":false},{"rating":["9.2","45"],"rank":13,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2559163201.jpg","is_playable":false,"id":"1393471","types":["喜剧","动画"],"regions":["美国"],"title":"欢乐树的朋友们：第二发球","url":"https:\\/\\/movie.douban.com\\/subject\\/1393471\\/","release_date":"2003","actor_count":3,"vote_count":4327,"score":"9.2","actors":["沃伦·格拉夫","Rhode Montijo","凯恩·纳瓦罗"],"is_watched":false},{"rating":["9.2","50"],"rank":14,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2590346161.jpg","is_playable":true,"id":"27062638","types":["动画"],"regions":["日本"],"title":"吹响悠风号剧场版：誓言的终章","url":"https:\\/\\/movie.douban.com\\/subject\\/27062638\\/","release_date":"2019-04-19","actor_count":20,"vote_count":4280,"score":"9.2","actors":["黑泽朋世","朝井彩加","丰田萌绘","安济知佳","石谷春贵","藤村鼓乃美","山冈百合","津田健次郎","小堀幸","雨宫天","七濑彩夏","久野美咲","土屋神叶","寿美菜子","樱井孝宏","早见沙织","茅原实里","沼仓爱美","铃木崚汰","中村太亮"],"is_watched":false},{"rating":["9.2","50"],"rank":15,"cover_url":"https://img3.doubanio.com\\/view\\/subject\\/l\\/public\\/s1806711.jpg","is_playable":false,"id":"1393472","types":["喜剧","动画"],"regions":["美国"],"title":"欢乐树的朋友们：第三击","url":"https:\\/\\/movie.douban.com\\/subject\\/1393472\\/","release_date":"2004-08-01","actor_count":5,"vote_count":3512,"score":"9.2","actors":["Liz Stuart","Ken Pontac","凯恩·纳瓦罗","沃伦·格拉夫","Rhode Montijo"],"is_watched":false},{"rating":["9.2","50"],"rank":16,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2320482809.jpg","is_playable":false,"id":"5187955","types":["动作","科幻","动画","冒险"],"regions":["美国"],"title":"Ben 10：变身之谜","url":"https:\\/\\/movie.douban.com\\/subject\\/5187955\\/","release_date":"2007-08-10","actor_count":13,"vote_count":568,"score":"9.2","actors":["塔拉·斯特朗","梅根·史密斯","保罗·伊丁","吉姆·瓦德","戴夫·维滕博格","Claudia Schmidt","德怀特·舒尔茨","瓦内萨·马歇尔","理查德·麦克格纳格尔","理查德·史蒂文·霍维茨","史蒂夫·布卢姆","迪·布拉雷·贝克尔","罗伯特·大卫·豪尔"],"is_watched":false},{"rating":["9.1","45"],"rank":17,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2503997609.jpg","is_playable":true,"id":"20495023","types":["喜剧","动画","奇幻","音乐"],"regions":["美国"],"title":"寻梦环游记","url":"https:\\/\\/movie.douban.com\\/subject\\/20495023\\/","release_date":"2017-11-24","actor_count":24,"vote_count":1089495,"score":"9.1","actors":["安东尼·冈萨雷斯","盖尔·加西亚·贝纳尔","本杰明·布拉特","阿兰娜·乌巴赫","芮妮·维克托","杰米·卡米尔","阿方索·阿雷奥","赫伯特·西古恩萨","加布里埃尔·伊格莱西亚斯","隆巴多·博伊尔","安娜·奥菲丽亚·莫吉亚","娜塔丽·科尔多瓦","赛琳娜·露娜","爱德华·詹姆斯·奥莫斯","索菲亚·伊斯皮诺萨","卡拉·梅迪纳","黛娅娜·欧特里","路易斯·瓦尔德斯","布兰卡·阿拉切利","萨尔瓦多·雷耶斯","切奇·马林","奥克塔维·索利斯","约翰·拉岑贝格","以利亚·罗德里格斯"],"is_watched":false},{"rating":["9.1","45"],"rank":18,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2174346180.jpg","is_playable":true,"id":"1308807","types":["动画","奇幻","冒险"],"regions":["日本"],"title":"哈尔的移动城堡","url":"https:\\/\\/movie.douban.com\\/subject\\/1308807\\/","release_date":"2004-09-05","actor_count":40,"vote_count":709368,"score":"9.1","actors":["倍赏千惠子","木村拓哉","美轮明宏","我修院达也","神木隆之介","伊崎充则","大泉洋","大塚明夫","原田大二郎","加藤治子","都筑香弥子","克里斯蒂安·贝尔","艾米莉·莫迪默","吉娜·马隆","乔什·哈切森","劳伦·白考尔","比利·克里斯托","布莱思·丹纳","安田显","简·西蒙斯","户次重幸","菅野莉央","威尔·弗里德尔","莉莉娜·穆米","卡洛斯·阿拉斯拉奇","克里斯平·弗里曼","达兰·诺里斯","森崎博之","霍利·多夫","保村真","理查德·史蒂文·霍维茨","纽威尔·亚历山大","艾克·艾森曼","大卫·考吉尔","科妮莉亚·达尔格林","田中宏树","彼得·雷纳迪","霍普·利维","摩西·德里耶","苏珊妮·布莱克史丽"],"is_watched":false},{"rating":["9.1","45"],"rank":19,"cover_url":"https://img1.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p1446261379.jpg","is_playable":true,"id":"1291583","types":["动画","奇幻","冒险"],"regions":["日本"],"title":"天空之城","url":"https:\\/\\/movie.douban.com\\/subject\\/1291583\\/","release_date":"1992-05-01","actor_count":33,"vote_count":615654,"score":"9.1","actors":["田中真弓","横泽启子","初井言荣","寺田农","常田富士男","永井一郎","糸博","鹫尾真知子","神山卓三","安原义人","槐柳二","鳕子","安迪·迪克","黛比·德里贝里","姜瑰瑾","斯科特·门维尔","吉姆·卡明斯","林原惠美","林美秀","曼迪·帕廷金","胡立成","龟山助清","Susan Hickman","古田信幸","特蕾丝·麦克尼尔","大泷进矢","理查德·戴萨特","克萝丽丝·利奇曼","迈克尔·麦克沙恩","约翰·德米塔","马克·哈米尔","安娜·帕奎因","詹姆斯·范德比克"],"is_watched":false},{"rating":["9.1","45"],"rank":20,"cover_url":"https://img3.doubanio.com\\/view\\/photo\\/s_ratio_poster\\/public\\/p2516566783.jpg","is_playable":true,"id":"1307315","types":["冒险","动画","奇幻"],"regions":["中国大陆"],"title":"哪吒闹海","url":"https:\\/\\/movie.douban.com\\/subject\\/1307315\\/","release_date":"1979-05-19","actor_count":15,"vote_count":177286,"score":"9.1","actors":["梁正晖","邱岳峰","毕克","富润生","尚华","于鼎","若本规夫","野泽雅子","永井一郎","银河万丈","大塚周夫","冈本茉莉","伍经纬","野泽那智","铃木富子"],"is_watched":false}]'

In [9]:
df1=pd.read_json(html)
df1.head(1)

,rating,rank,cover_url,is_playable,id,types,regions,title,url,release_date,actor_count,vote_count,score,actors,is_watched
0,"[9.5, 50]",1,https://img3.doubanio.com/view/photo/s_ratio_p...,False,10461356,[动画],[日本],大雄的怀念奶奶,https://movie.douban.com/subject/10461356/,2000-03-11,9,4617,9.5,"[大山信代, 小原乃梨子, 立壁和也, 肝付兼太, 野村道子, 千千松幸子, 大本真基子, ...",False

In [10]:
df2=df1[['rank','title','regions','score']]
df2.head(2)

   rank    title regions  score
0     1  大雄的怀念奶奶    [日本]    9.5
1     2     千与千寻    [日本]    9.4

In [22]:
import requests
import time
data=pd.DataFrame()
for i in range(3):
    i=i*20
    url='https://movie.douban.com/j/chart/top_list?type=25&interval_id=100%3A90&action=&start='+str(i)+'&limit=20'
    header={'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'}
    response = requests.get(url, headers=header)
    html=response.text
    df=pd.read_json(html)
    data=data.append(df)
    time.sleep(2)

In [23]:
data.shape

(60, 15)

In [26]:
df2.to_json('a.json',force_ascii=False)  #保存,默认force_ascii为True，不以ascii编码显示

### pd.read_html()  
读取网页上的表格

In [44]:
data = pd.read_html('https://hz.house.ifeng.com/news/2014_10_28-50087618_1.shtml')  

# 读取网页上的表格， 有些看上去是表格， 但底层不是

In [45]:
type(data)

list

In [46]:
data[0]

,0,1,2,3,4,5,6
0,2014年10月27日主城区商品房交易情况统计,2014年10月27日主城区商品房交易情况统计,2014年10月27日主城区商品房交易情况统计,2014年10月27日主城区商品房交易情况统计,2014年10月27日主城区商品房交易情况统计,2014年10月27日主城区商品房交易情况统计,2014年10月27日主城区商品房交易情况统计
1,序号,楼盘名称,城区,签约套数,预定套数,签约面积（㎡）,签约均价（元/㎡）
2,1,龙湖春江郦城,滨江,18,0,2178.61,23757
3,2,海威钱塘之星,滨江,13,0,629.55㎡,17398
4,3,大家运河之星,拱墅,12,0,1052.72㎡,10457
...,...,...,...,...,...,...,...
88,87,景瑞申花壹号院,拱墅,1,0,89.18㎡,21529
89,88,复地黄龙和山,西湖,0,1,0㎡,0
90,89,中粮方圆府,下城,0,1,0㎡,0
91,90,东方铭楼,下沙,0,16,0㎡,0
92,NaN,总计签约：,主城区,216,40,21755.55㎡,NaN

### pd.read_clipboard  
复制所要的数据， 然后运行下面的代码  
https://hz.house.ifeng.com/news/2014_10_28-50087618_1.shtml

In [48]:
pd.read_clipboard()

    序号     楼盘名称   城区  签约套数  预定套数    签约面积（㎡）  签约均价（元/㎡）
0    1   龙湖春江郦城   滨江    18     0    2178.61      23757
1    2   海威钱塘之星   滨江    13     0    629.55㎡      17398
2    3   大家运河之星   拱墅    12     0   1052.72㎡      10457
3    4   保利城市果岭   下沙     8     0    743.05㎡      10457
4    5   金地格林格林   江干     7     8    609.97㎡      10238
..  ..      ...  ...   ...   ...        ...        ...
85  86   广宇锦绣桃源   拱墅     1     0     86.44㎡      12473
86  87  景瑞申花壹号院   拱墅     1     0     89.18㎡      21529
87  88   复地黄龙和山   西湖     0     1         0㎡          0
88  89    中粮方圆府   下城     0     1         0㎡          0
89  90     东方铭楼   下沙     0    16         0㎡          0

[90 rows x 7 columns]

In [50]:
pd.read_clipboard?

## 数据的导出  
- df.to_excel() 输出Excel文件
- df.to_csv() 输出CSV和TXT文件

In [31]:
df

   姓名 性别  年龄  学历     籍贯
0  小明  男  23  本科     北京
1  小红  女  22  本科     天津
2  小高  男  23  本科  湖北 武汉
3  小雅  女  24  本科  四川 成都

In [32]:
df.to_csv('data.txt')

In [33]:
df.to_csv('data.csv')

In [24]:
df.to_csv('data1.csv',  index=False)   # 导出的时候不要行索引

In [25]:
df.to_excel('asd.xlsx', sheet_name='学生表')

# 将DataFrame直接存入MySql

In [34]:
import pandas as pd
import numpy as np

远程登录数据库  
1.打开cmd运行mysql

2.use mysql  
所有人以root 名 以abc为密码访问我的mysql  
3.grant all privileges on *.* to root@"%" identified by 'abc' with grant option  
4.flush privileges  
  
获取IP的方法  cmd---ipconfig/all, 找到IPv4 地址对应的ip地址

In [35]:
# 导包
import pymysql 

# 创建连接对象
mydb = pymysql.connect(  
                   host='localhost',          # 数据库主机地址
                   user="root",               # 数据库用户名
                   password='1234'  ,         # 数据库密码
                   database=None,             # 可以指定连接某个数据库
                   port=3306,                 # 端口号, 默认是3306
                   charset='utf8'             # 使用的编码
                   )  

# 创建游标对象, 这里创建的游标是  可以返回带字段名的字典， 比较好用
mycursor = mydb.cursor(cursor=pymysql.cursors.DictCursor)

In [42]:
mycursor.execute('''
show tables
''')
pd.DataFrame(mycursor)

2

  Tables_in_school
0             data
1            score

In [43]:
# 创建数据库引擎
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqlconnector://root:1234@localhost:3306/school?charset=utf8")

# 这里需要先安装：pip install mysql-connector-python -i https://pypi.douban.com/simple
# 这里如果使用pymysql会有一点问题， 建议就使用mysql-connector-python

In [44]:
df.to_sql(name='stu', con=engine, index=False)

# name是表名
# con是数据库引擎
# index=False忽略原行索引

In [45]:
mycursor.execute('''
show tables
''')
pd.DataFrame(mycursor)

3

  Tables_in_school
0             data
1            score
2              stu

In [46]:
df

   姓名 性别  年龄  学历     籍贯
0  小明  男  23  本科     北京
1  小红  女  22  本科     天津
2  小高  男  23  本科  湖北 武汉
3  小雅  女  24  本科  四川 成都

In [47]:
mycursor.execute('''
select * from stu
''')
pd.DataFrame(mycursor)

4

   姓名 性别  年龄  学历     籍贯
0  小明  男  23  本科     北京
1  小红  女  22  本科     天津
2  小高  男  23  本科  湖北 武汉
3  小雅  女  24  本科  四川 成都