<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Series对象的运算" data-toc-modified-id="Series对象的运算-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Series对象的运算</a></span><ul class="toc-item"><li><span><a href="#算数运算" data-toc-modified-id="算数运算-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>算数运算</a></span></li><li><span><a href="#比较运算" data-toc-modified-id="比较运算-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>比较运算</a></span></li><li><span><a href="#逻辑运算" data-toc-modified-id="逻辑运算-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>逻辑运算</a></span></li></ul></li><li><span><a href="#DataFrame对象的布尔索引" data-toc-modified-id="DataFrame对象的布尔索引-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DataFrame对象的布尔索引</a></span><ul class="toc-item"><li><span><a href="#新增一列-性别-男女男男男女男女男女" data-toc-modified-id="新增一列-性别-男女男男男女男女男女-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>新增一列 性别 男女男男男女男女男女</a></span></li><li><span><a href="#新增一列-三总-位置放在英语之后" data-toc-modified-id="新增一列-三总-位置放在英语之后-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>新增一列 三总 位置放在英语之后</a></span></li><li><span><a href="#新增一列-理综-位置放在生物之后" data-toc-modified-id="新增一列-理综-位置放在生物之后-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>新增一列 理综 位置放在生物之后</a></span></li><li><span><a href="#新增一列总分，-位置放在第一列" data-toc-modified-id="新增一列总分，-位置放在第一列-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>新增一列总分， 位置放在第一列</a></span></li><li><span><a href="#挑选出-总分-最高的-前三名" data-toc-modified-id="挑选出-总分-最高的-前三名-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>挑选出 总分 最高的 前三名</a></span></li><li><span><a href="#挑选出-总分-大于-475分的同学信息" data-toc-modified-id="挑选出-总分-大于-475分的同学信息-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>挑选出 总分 大于 475分的同学信息</a></span></li><li><span><a href="#挑选出--理综--大于--240分的同学信息" data-toc-modified-id="挑选出--理综--大于--240分的同学信息-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>挑选出  理综  大于  240分的同学信息</a></span></li><li><span><a href="#挑选出理综大于250-并且-总分-大于500的同学信息" data-toc-modified-id="挑选出理综大于250-并且-总分-大于500的同学信息-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>挑选出理综大于250 并且 总分 大于500的同学信息</a></span></li><li><span><a href="#挑选出所有的男同学" data-toc-modified-id="挑选出所有的男同学-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>挑选出所有的男同学</a></span></li><li><span><a href="#查看女同学语文的平均成绩" data-toc-modified-id="查看女同学语文的平均成绩-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>查看女同学语文的平均成绩</a></span></li><li><span><a href="#查看总分在480分以上的男同学的理综的平均成绩" data-toc-modified-id="查看总分在480分以上的男同学的理综的平均成绩-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>查看总分在480分以上的男同学的理综的平均成绩</a></span></li><li><span><a href="#找出数学成绩比语文成绩高的同学" data-toc-modified-id="找出数学成绩比语文成绩高的同学-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>找出数学成绩比语文成绩高的同学</a></span></li><li><span><a href="#找出所有姓-张-的同学" data-toc-modified-id="找出所有姓-张-的同学-2.13"><span class="toc-item-num">2.13&nbsp;&nbsp;</span>找出所有姓 张 的同学</a></span><ul class="toc-item"><li><span><a href="#方法一-for-循环" data-toc-modified-id="方法一-for-循环-2.13.1"><span class="toc-item-num">2.13.1&nbsp;&nbsp;</span>方法一 for 循环</a></span></li><li><span><a href="#方法二Series.map()方法" data-toc-modified-id="方法二Series.map()方法-2.13.2"><span class="toc-item-num">2.13.2&nbsp;&nbsp;</span>方法二Series.map()方法</a></span></li></ul></li><li><span><a href="#新增一行" data-toc-modified-id="新增一行-2.14"><span class="toc-item-num">2.14&nbsp;&nbsp;</span>新增一行</a></span></li><li><span><a href="#继续新增一行" data-toc-modified-id="继续新增一行-2.15"><span class="toc-item-num">2.15&nbsp;&nbsp;</span>继续新增一行</a></span></li><li><span><a href="#找出性别这一列有--缺失--的行" data-toc-modified-id="找出性别这一列有--缺失--的行-2.16"><span class="toc-item-num">2.16&nbsp;&nbsp;</span>找出性别这一列有  缺失  的行</a></span></li><li><span><a href="#挑选出任意有缺失的行" data-toc-modified-id="挑选出任意有缺失的行-2.17"><span class="toc-item-num">2.17&nbsp;&nbsp;</span>挑选出任意有缺失的行</a></span></li><li><span><a href="#挑选出重复的行" data-toc-modified-id="挑选出重复的行-2.18"><span class="toc-item-num">2.18&nbsp;&nbsp;</span>挑选出重复的行</a></span></li></ul></li></ul></div>

In [1]:
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import numpy as np
import pandas as pd

# Series对象的运算

## 算数运算

其余加减乘除等等都是一样的， 都是对应位置上的元素进行元素

## 比较运算

## 逻辑运算

|符号|含义|释义|
|----|----|----|
| \||or|或者|
|&|and|并且|
|~|not|取反|
|^|xor|异或|

OK, 有了以上基础， 我们就可以来学习DataFrame对象的布尔索引

# DataFrame对象的布尔索引

In [14]:
np.random.seed(999)
a = np.random.randint(60, 100, (10, 6))
df = pd.DataFrame(a)
df.columns = ['语文', '数学', '英语', '化学', '物理', '生物']
df.index = ['张三', '李四', '王五', '赵一', '张四', 
            '刘六', '张五', '李一', '周四', '赵四']
df

    语文  数学  英语  化学  物理  生物
张三  60  88  97  93  68  93
李四  87  91  85  76  68  68
王五  65  62  71  71  81  83
赵一  96  98  67  98  77  97
张四  98  92  64  73  80  68
刘六  99  87  83  80  65  77
张五  91  84  61  74  66  63
李一  68  69  74  76  91  72
周四  74  66  64  83  63  85
赵四  90  87  82  74  99  90

## 新增一列 性别 男女男男男女男女男女
位置放在第一列

## 新增一列 三总 位置放在英语之后

## 新增一列 理综 位置放在生物之后

## 新增一列总分， 位置放在第一列

## 挑选出 总分 最高的 前三名

## 挑选出 总分 大于 475分的同学信息

## 挑选出  理综  大于  240分的同学信息

## 挑选出理综大于250 并且 总分 大于500的同学信息

## 挑选出所有的男同学

## 查看女同学语文的平均成绩

## 查看总分在480分以上的男同学的理综的平均成绩

## 找出数学成绩比语文成绩高的同学

## 找出所有姓 张 的同学

### 方法一 for 循环

### 方法二Series.map()方法  
map()方法可以接受一个函数

## 新增一行   
df.loc[10] = ['小明', 0, '男', 0, 0, np.nan, 0, 0, 0, 0, 0]

## 继续新增一行  
df.loc[11] = ['小红', 0, np.nan, 0, 0, 0, np.nan, 0, 0, 0, 0]

## 找出性别这一列有  缺失  的行

## 挑选出任意有缺失的行

## 挑选出重复的行