In [3]:
#全部行都能输出
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import numpy as np
import pandas as pd

In [5]:
#导入相关库
import pandas as pd
import numpy as np
import time
import datetime
import matplotlib.pyplot as plt

In [6]:
# 解决坐标轴刻度负号乱码
plt.rcParams['axes.unicode_minus'] = False
# 解决中文乱码问题
plt.rcParams['font.sans-serif'] = ['Simhei']

在计算机中，时间实际上是用数字表示的。  
我们把1970年1月1日 00:00:00 UTC+00:00时区的时刻称为epoch time(纪元)，记为0（1970年以前的时间timestamp为负数），当前时间就是相对于epoch time的秒数，称为timestamp。   
timestamp的值与时区毫无关系，因为timestamp一旦确定，其UTC时间就确定了，转换到任意时区的时间也是完全确定的，这就是为什么计算机存储的当前时间是以timestamp表示的，因为全球各地的计算机在任意时刻的timestamp都是完全相同的（假定时间已校准）。

In [7]:
import time
time.time()   # 返回当前的时间(1970到现在的秒数)

1598856932.159991

# 时间戳Timestamp对象的生成

## pd.Timestamp

In [8]:
pd.Timestamp(time.time() ,unit='s')  # 时区+8， 03:14加上8大概就是11点多

Timestamp('2020-08-31 06:55:33.090931416')

In [9]:
type(pd.Timestamp(164913461,unit='s'))

pandas._libs.tslibs.timestamps.Timestamp

In [10]:
pd.Timestamp("2019-12-12")  # 把字符串转换成Timestamp

Timestamp('2019-12-12 00:00:00')

In [11]:
pd.Timestamp("2019/12/12")

Timestamp('2019-12-12 00:00:00')

In [12]:
pd.Timestamp(2019,12,12)

Timestamp('2019-12-12 00:00:00')

In [13]:
 pd.Timestamp(year=2019, month=12, day=12, hour=0,minute=0,second=0)

Timestamp('2019-12-12 00:00:00')

## pd.to_datetime  
处理日期序列

In [14]:
mydate=pd.Series(["2019/12/10","2019/12/11","2019/12/12"])
mydate

0    2019/12/10
1    2019/12/11
2    2019/12/12
dtype: object

In [15]:
pd.to_datetime(mydate)

0   2019-12-10
1   2019-12-11
2   2019-12-12
dtype: datetime64[ns]

In [16]:
pd.to_datetime(mydate)[0]

Timestamp('2019-12-10 00:00:00')

In [17]:
pd.to_datetime("2019*12*12",format="%Y*%m*%d")
#errors有raise,ignore,coerce

Timestamp('2019-12-12 00:00:00')

In [18]:
pd.to_datetime("2019/12/12",format="%Y/%m/%d")
#errors有raise,ignore,coerce

Timestamp('2019-12-12 00:00:00')

In [19]:
a=pd.Series(["2019-1-20","2019-2-20","2019-5-1"])
pd.to_datetime(a)

0   2019-01-20
1   2019-02-20
2   2019-05-01
dtype: datetime64[ns]

## pd.date_range  
生成一个事件范围

In [20]:
s1=pd.date_range('2011-1-20',  freq='H',periods=8)   # 按小时生成
s1

DatetimeIndex(['2011-01-20 00:00:00', '2011-01-20 01:00:00',
               '2011-01-20 02:00:00', '2011-01-20 03:00:00',
               '2011-01-20 04:00:00', '2011-01-20 05:00:00',
               '2011-01-20 06:00:00', '2011-01-20 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [21]:
s1[0]

Timestamp('2011-01-20 00:00:00', freq='H')

In [22]:
s1=pd.date_range('2011-1-20',  '2012-1-30',freq='D') 
s1

DatetimeIndex(['2011-01-20', '2011-01-21', '2011-01-22', '2011-01-23',
               '2011-01-24', '2011-01-25', '2011-01-26', '2011-01-27',
               '2011-01-28', '2011-01-29',
               ...
               '2012-01-21', '2012-01-22', '2012-01-23', '2012-01-24',
               '2012-01-25', '2012-01-26', '2012-01-27', '2012-01-28',
               '2012-01-29', '2012-01-30'],
              dtype='datetime64[ns]', length=376, freq='D')

# 日期数据转化

In [23]:
# http://tushare.org/
# 金融数据获取

In [24]:
raw_data=pd.read_excel(r"D:\资料\所有完整课件高级版\python数据清洗\pandas\data\上证指数收盘价历史数据(1990-2017.9).xlsx",header=0)
raw_data.head()

,日期,收盘价,最高价,最低价,开盘价,涨跌额,涨跌幅,成交量,成交额
0,2017-09-14,3371.4256,3391.6435,3361.3335,3383.4700,-12.7214,-0.3759,221306487,256744421274
1,2017-09-13,3384.1470,3387.1397,3366.5412,3374.7185,4.659,0.1379,194550715,230733408867
2,2017-09-12,3379.4880,3391.0694,3370.8519,3381.4870,3.0692,0.0909,272910319,325024951982
3,2017-09-11,3376.4188,3384.8100,3360.0462,3365.3506,11.1762,0.3321,219011019,256888810547
4,2017-09-08,3365.2426,3380.8898,3353.6876,3364.4275,-0.2548,-0.0076,198405184,235160227356

In [25]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6542 entries, 0 to 6541
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      6542 non-null   datetime64[ns]
 1   收盘价     6542 non-null   float64
 2   最高价     6542 non-null   float64
 3   最低价     6542 non-null   float64
 4   开盘价     6542 non-null   float64
 5   涨跌额     6542 non-null   object
 6   涨跌幅     6542 non-null   object
 7   成交量     6542 non-null   int64
 8   成交额     6542 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 460.1+ KB

如果日期字段不是datetime格式的呢？比如object格式？该如何转化为datetime格式？

In [26]:
date=raw_data.日期.astype(str)
date.head()

0    2017-09-14
1    2017-09-13
2    2017-09-12
3    2017-09-11
4    2017-09-08
Name: 日期, dtype: object

In [27]:
pd.to_datetime(date).head()

0   2017-09-14
1   2017-09-13
2   2017-09-12
3   2017-09-11
4   2017-09-08
Name: 日期, dtype: datetime64[ns]

##  转化为指定格式.dt.strftime()

In [28]:
raw_data.日期.head()

0   2017-09-14
1   2017-09-13
2   2017-09-12
3   2017-09-11
4   2017-09-08
Name: 日期, dtype: datetime64[ns]

In [29]:
raw_data.日期.dt.strftime("%Y/%m/%d").head()
# 把日期转换成其他样子， 但是数据类型就变成字符串了

0    2017/09/14
1    2017/09/13
2    2017/09/12
3    2017/09/11
4    2017/09/08
Name: 日期, dtype: object

In [49]:
raw_data.日期.dt.strftime()

Object `dt.strftime` not found.

In [53]:
raw_data.日期.dt.strftime("%Y").head()

0    2017
1    2017
2    2017
3    2017
4    2017
Name: 日期, dtype: object

In [1]:
import pandas as pd

In [13]:
a = pd.date_range('2018-8-1',  freq='d',periods=800, )

In [14]:
pd.DataFrame(a)

             0
0   2018-08-01
1   2018-08-02
2   2018-08-03
3   2018-08-04
4   2018-08-05
..         ...
795 2020-10-04
796 2020-10-05
797 2020-10-06
798 2020-10-07
799 2020-10-08

[800 rows x 1 columns]