In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series(np.random.randint(1, 10, 6))

In [5]:
s

0    8
1    8
2    7
3    8
4    1
5    3
dtype: int32

In [13]:
s.shift(periods=1) # 向下偏移1个单位

0    NaN
1    8.0
2    8.0
3    7.0
4    8.0
5    1.0
dtype: float64

In [16]:
s.shift(periods=-2) # 向上偏移1个单位

0    7.0
1    8.0
2    1.0
3    3.0
4    NaN
5    NaN
dtype: float64

In [18]:
df = pd.DataFrame(np.random.randint(1, 10, (10, 3)))

In [19]:
df

   0  1  2
0  3  7  2
1  6  5  4
2  4  7  3
3  2  2  5
4  7  6  7
5  7  6  8
6  1  1  1
7  1  8  5
8  3  4  1
9  6  9  5

In [20]:
df.shift(1)

     0    1    2
0  NaN  NaN  NaN
1  3.0  7.0  2.0
2  6.0  5.0  4.0
3  4.0  7.0  3.0
4  2.0  2.0  5.0
5  7.0  6.0  7.0
6  7.0  6.0  8.0
7  1.0  1.0  1.0
8  1.0  8.0  5.0
9  3.0  4.0  1.0

In [21]:
df.shift(-1)

     0    1    2
0  6.0  5.0  4.0
1  4.0  7.0  3.0
2  2.0  2.0  5.0
3  7.0  6.0  7.0
4  7.0  6.0  8.0
5  1.0  1.0  1.0
6  1.0  8.0  5.0
7  3.0  4.0  1.0
8  6.0  9.0  5.0
9  NaN  NaN  NaN