In [1]:
import numpy as np
import pandas as pd

# diff

In [2]:
s = pd.Series(np.random.randint(1, 10, 10))

In [5]:
s

0    4
1    7
2    7
3    1
4    7
5    1
6    9
7    7
8    1
9    2
dtype: int32

In [6]:
s.diff(periods=1)  # 后一个减去前一个

0    NaN
1    3.0
2    0.0
3   -6.0
4    6.0
5   -6.0
6    8.0
7   -2.0
8   -6.0
9    1.0
dtype: float64

In [7]:
s.diff(periods=2) # 后一个前面的第二个

0    NaN
1    NaN
2    3.0
3   -6.0
4    0.0
5    0.0
6    2.0
7    6.0
8   -8.0
9   -5.0
dtype: float64

In [8]:
s

0    4
1    7
2    7
3    1
4    7
5    1
6    9
7    7
8    1
9    2
dtype: int32

# rolling

## series

In [11]:
s.values

array([4, 7, 7, 1, 7, 1, 9, 7, 1, 2])

In [12]:
# 连着两个相加
s.rolling(2).sum()

0     NaN
1    11.0
2    14.0
3     8.0
4     8.0
5     8.0
6    10.0
7    16.0
8     8.0
9     3.0
dtype: float64

In [14]:
s.rolling(2).max()

0    NaN
1    7.0
2    7.0
3    7.0
4    7.0
5    7.0
6    9.0
7    9.0
8    7.0
9    2.0
dtype: float64

In [15]:
s.rolling(window=2, min_periods=0).sum()  # 和上面的区别在于数量不够两个窗口也会计算， 不会返回NAN

0     4.0
1    11.0
2    14.0
3     8.0
4     8.0
5     8.0
6    10.0
7    16.0
8     8.0
9     3.0
dtype: float64

In [16]:
s

0    4
1    7
2    7
3    1
4    7
5    1
6    9
7    7
8    1
9    2
dtype: int32

In [17]:
# 窗口大小是三， 对每个窗口执行自定义函数
s.rolling(3).apply(lambda x:min(x)+max(x))

0     NaN
1     NaN
2    11.0
3     8.0
4     8.0
5     8.0
6    10.0
7    10.0
8    10.0
9     8.0
dtype: float64

## DataFrame

In [24]:
df = pd.DataFrame(np.random.randint(1, 10, (10, 4)))
df

   0  1  2  3
0  1  1  2  4
1  3  4  6  2
2  1  3  8  4
3  5  7  9  3
4  9  1  3  7
5  5  5  5  1
6  5  9  5  8
7  7  9  4  3
8  5  3  8  6
9  5  9  2  9

In [25]:
#同样有df.rolling(3, axis=0).apply(lambda x:min(x)+max(x)) 对表中的每一行进行滑动窗口计算

In [27]:
df.rolling(3, axis=0).apply(lambda x:min(x)+max(x))
# 相当于在列上，求每一列的窗口内的最大值+最小值

      0     1     2     3
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   4.0   5.0  10.0   6.0
3   6.0  10.0  15.0   6.0
4  10.0   8.0  12.0  10.0
5  14.0   8.0  12.0   8.0
6  14.0  10.0   8.0   9.0
7  12.0  14.0   9.0   9.0
8  12.0  12.0  12.0  11.0
9  12.0  12.0  10.0  12.0

In [32]:
#同样有df.groupby("分组字段", as_index=False).rolling(3, axis=0).apply(lambda x:min(x)+max(x)) 
# 对分组后的每个组， 也就是每个Dataframe中的每一行进行滑动窗口计算